*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
background:#111827;
padding:15px 30px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:28px;
font-weight:bold;
color:#f59e0b;
}

nav a{
color:white;
text-decoration:none;
margin-left:15px;
}

nav a:hover{
color:#f59e0b;
}

.hero{
padding:100px 20px;
text-align:center;
}

.hero h1{
font-size:55px;
color:#f59e0b;
}

.hero p{
margin-top:15px;
font-size:20px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#f59e0b;
color:black;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:50px 20px;
}

.card{
background:#1e293b;
padding:20px;
width:280px;
border-radius:12px;
}

.card h3{
color:#f59e0b;
margin-bottom:10px;
}

footer{
background:#111827;
padding:20px;
text-align:center;
margin-top:50px;
}
/* MOBILE RESPONSIVE */

nav{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
padding:15px;
}

nav a{
margin:5px;
text-decoration:none;
}

.cards{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
padding:20px;
}

.card{
width:250px;
max-width:90%;
padding:20px;
border-radius:12px;
}

.hero{
text-align:center;
padding:30px;
}

img{
max-width:100%;
height:auto;
}

/* PHONE */

@media(max-width:768px){

nav{
flex-direction:column;
text-align:center;
}

.cards{
flex-direction:column;
align-items:center;
}

.card{
width:90%;
}

h1{
font-size:28px;
}

}
